/* admin-header.component.css */

.admin-header {
    background-color: #3b4d60;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .admin-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .admin-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .admin-header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .admin-header nav ul li:last-child {
    margin-right: 0;
  }
  
  .admin-header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .admin-header nav ul li a:hover {
    text-decoration: underline;
  }
  