<!-- admin-home.component.html -->
<app-admin-nav></app-admin-nav>
<div class="container">
    <div class="jumbotron">
      <h1>Welcome to Admin Panel</h1>
    </div>
    <button (click)="addBook()">Add Book</button>
  </div>
  <div class="container" *ngFor="let category of getCategories()">
    <h2>{{ category }}</h2>
    <div class="scroll-container">
      <button class="scroll-button left" (click)="scrollLeft(category)">&#8249;</button>
      <div class="book-list" id="{{ 'book-list-' + category }}">
        <div class="book" *ngFor="let book of categorizedBooks[category]" (click)="navigateToBookDetails(book.id)">
          <img [src]="book.cover_image" alt="{{book.title}}">
          <h3>{{book.title}}</h3>
          <p>{{book.author}}</p>
        </div>
      </div>
      <button class="scroll-button right" (click)="scrollRight(category)">&#8250;</button>
    </div>
  </div>
  
    
  